*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding-top: 2%;
}

nav a {
    position: relative;
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
}

nav a:hover {
    color: black;
    font-size: 3.5vh;
    transform: scale(1.01);
}

nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid black;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

nav a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
    background-color: #B9B4C7;


}

body {
    background: linear-gradient(120deg, #E1AEFF, #C4B0FF);
    overflow-x: hidden;
}

.title-container {
    background: linear-gradient(120deg, #8B93FF, #67C6E3, #40A2E3, #40A2D8);
    height: 18vh;
    width: 100%;
    padding-top: 2%;
    border-bottom: 1px solid #333;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(120deg, #86A7FC, #96EFFF, #DCF2F1, #B4D4FF); */
    background: linear-gradient(120deg, #BEADFA, #E5CFF7, #D2E0FB);
}

.title {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40%;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    transition: font-size 0.3s ease-in-out;
}

.title:hover {
    font-size: 6vh;

}
#logout{
    display: none;
}


.title-components {

    display: flex;
    justify-content: end;
    align-items: end;
    height: 45%;
    margin-right: 2%;
}


.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    transform: translateX(-60%)translateY(30%);

}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    transform: translateX(180%) translateY(180%);
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #333;
    letter-spacing: 0.5px;
    outline: none;
    border: none;

}

.loginform {
    transform: translateY(-35%) translateX(-50%);
    height: 60%;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 20px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid black;
}

/* .shape1{
    animation: shape-animation;
    opacity: 0;
} */
.background.animate-contents>.shape1 {
    /* transform: translateY(0%); */
    animation: shape-animation-1 1.2s;
    opacity: 1;
}




.background.animate-contents>.shape2 {
    /* transform: translateY(0%); */
    animation: shape-animation-2 2s;
    opacity: 1;
}

@keyframes shape-animation-1 {
    0% {
        transform: scale(0) translateX(-170%)translateY(-80%);
    }

    50% {
        transform: scale(1.2)translateX(-60%)translateY(30%);
        ;
    }

    100% {
        transform: scale(1) translateX(-60%)translateY(30%);
        ;
    }
}

@keyframes shape-animation-2 {
    0% {
        transform: scale(0) translateX(-100%) translateY(-40%);
        ;
    }

    50% {
        transform: scale(1.2)translateX(140%) translateY(150%);
    }

    100% {
        transform: scale(1) translateX(180%) translateY(180%);
    }
}


.loginform.animate-login>.login {
    /* transform: translateY(50%); */
    animation: login-animation 0.8s;
}

.loginform.animate-login>.username {
    animation: login-animation 1.2s;
}

.loginform.animate-login>.username1 {
    animation: login-animation 1s;
}

.loginform.animate-login>.pswd {
    animation: login-animation 1.4s;
}

.loginform.animate-login>.password {
    animation: login-animation 1.6s;
}

@keyframes login-animation {
    0% {
        transform: scale(0) translateY(-300%);

    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1)translateY(1);
        opacity: 1;
    }
}

.loginform.animate-login>.Loginbtn {
    animation: login-animation 1.8s;
    opacity: 1;
}

input:focus {
    border: 1px solid #ffffff;
    /* Adjust the color as needed */
}

::placeholder {
    color: black;

}

button {
    margin-top: 10%;
    width: 100%;
    background: linear-gradient(45deg, #84E8A2, #66D9E8);
    backdrop-filter: blur(10%);
    /* Add backdrop-filter for the glass effect */
    /* Add this line for gradient background */
    color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 3vh;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.Loginbtn:hover {
    transform: scale(1.1);
}




@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.usr {
    transition: 0.3s ease-in-out;
    font-size: 2vh;
}

.usr:hover {
    font-size: 3vh;
}

.pswd {
    transition: 0.3s ease-in-out;
    font-size: 2vh;
}

.pswd:hover {
    font-size: 3vh;
}

.login {
    color: black;
    transition: 0.3s ease-in-out;
    font-size: 5vh;
}

.login:hover {
    font-size: 7vh;
}

.social {
    transition: 0.3s ease-in-out;
    font-size: 2.5vh;
}

.social:hover {
    font-size: 4vh;
    transform: scale(1.02);
}